{% extends 'header.html'%}
{% block content %}


<div class="container-fluid px-4">
  <div class="row g-3 my-2">


<div class="col-lg-10 dashboard my-3" id="dep_id">
  <h3 class="p-2 ">Add Department</h3>
 
   <div class="row content">
    <form action="/admin/adddepartment/" id="dep-form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
     
        <div class="row p-2">
          {% if adddep %}
   
          {% for i in adddep %}
            <div class="col-sm-12 m-2">
              
            
               <input type="text" name="dep" placeholder="Department" class="form-control" value="{{i.depname}}">
            </div>
                
            <div class="col-sm-12 m-2">
            
               <label for="formFileld" class="form-label">Upload Image:</label>
               <input type="file" class="form-control form-control-lg" name="inputimage" id="formFileLg" >
            </div>


          

       
            <div class="col-sm-12 m-2"><textarea name="description" id="" placeholder="Enter dep description" cols="5" rows="5"  class="form-control" >{{i.description}}</textarea></div>
            {% endfor %}
            {% else %}
            <div class="col-sm-12 m-2">
              
            
               <input type="text" name="dep" placeholder="Department" class="form-control" >
            </div>
                
            <div class="col-sm-12 m-2">
            
               <label for="formFileld" class="form-label">Upload Image:</label>
               <input type="file" class="form-control form-control-lg" name="inputimage" id="formFileLg" >
            </div>


          

       
            <div class="col-sm-12 m-2"><textarea name="description" id="" placeholder="Enter dep description" cols="5" rows="5"  class="form-control" ></textarea></div>
            
            
            </div>
            {% endif %}
            {{msg}}
            <div class="col-sm-4 offset-sm-4 p-2 text-center">
            <button type="submit" class="btn btn-secondary">Submit</button>
            <a href="{% url 'department' %}" class="btn btn-secondary">Back</a>
            </div>
            
          </div>
          </form>
           </div>
          
            </div>
          </div>
        </div>
          

              {% endblock %}