{% extends 'header.html'%}
{% block content %}



<div class="container-fluid px-4">
  <div class="row g-3 my-2">

<div class="col-lg-10 dashboard my-3" id="doctor_id">
  <h3 class="p-2 ">Doctor Registration</h3>
 
   <div class="row content">
    <form action="/admin/doctoradd/" id="doctor-form" method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
        <div class="row p-2">
          <div class="col-sm-6 mt-2">
            <input type="text" placeholder="Doctor id" class="form-control" name="docid">
          </div>
          <div class="col-sm-6">
            </div>
              
        
            
              <div class="col-sm-6 mt-2">
                <input type="text" name="fname" placeholder="First Name" class="form-control">
              </div>
              <div class="col-sm-6 mt-2">
                <input type="text" name="lname" placeholder="Last Name" class="form-control">
              </div>
            

            
              <div class="col-sm-6 mt-2">
                <input type="number" name="age" placeholder="Age" class="form-control">
              </div>
              <div class="col-sm-6 mt-2">
                <input type="number" name="mobile" placeholder="Mobile No" class="form-control">
              </div>

            <div class="col-sm-6 mt-2">
              <input type="text" name="place" placeholder="place" class="form-control">
            </div>
            <div class="col-sm-6 mt-2">
              <input type="text" name="email" placeholder="email" class="form-control">
            </div>
          
            </div>

            
            
            
            <div class="col-sm-12 mt-2">
            
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>


            <div class="col-sm-12 mt-2">
            
             
              <select id="" name="quali" class="form-select bg-light chosen-select"  multiple>
                  <option value="" >Select your Qualification</option>
                  <option value="MBBS" >MBBS</option>
                  <option value="MD">MD</option>
                  <option value="BHMS">BHMS</option>
                  <option value="BDS">BDS</option>
              </select>

            </div>

            <div class="col-sm-12 mt-2">
            
            <select name="dep" id="" class="form-select bg-light">
                <option value="" selected>Select your department</option>
                {% for i in dep %}
                <option value="{{i.id}}" >{{i.depname}}</option>
               {% endfor %}
            </select>
            </div>
            <div class="col-sm-12 mt-2">
            
              <label for="formFileld" class="form-label">Upload Image:</label>
              <input type="file" class="form-control form-control-lg" name="inputimage1" id="formFileLg" >
           </div>

            <div class="col-sm-12 mt-2"><label for="">Join Date</label><input type="date" name="date" placeholder="Join Date" class="form-control jdate"></div>
            
            <div class="col-sm-12 mt-2"><input type="number" placeholder="Years of Experience" name="exp" class="form-control"></div>
            <div class="col-sm-12 mt-2"><textarea name="address" id="" placeholder="Enter Address" cols="5" rows="2"  class="form-control"></textarea></div>
            <div class="col-sm-12 mt-2"><textarea name="description" id="" placeholder="Doctor description" cols="5" rows="5"  class="form-control"></textarea></div>
            <div class="col-sm-12 mt-2">{{msg}}</div>
            <div class="col-sm-4 offset-sm-4 p-2 text-center">
            <button type="submit" class="btn btn-secondary">Submit</button>
            <a href="{% url 'doctor' %}" class="btn btn-secondary">Back</a>
            </div>
          </form>
           </div>
            </div>
          </div>
        </div>
          

              {% endblock %}