
{% extends 'header.html'%}
{% block content %}




<!--Dashboard -->
<div class="container-fluid px-4">
  <div class="row g-3 my-2">

        <div class="col-lg-12 " id="dashboard" >
          <div class="row  mt-5  ">
         <div class="col-lg-3 col-md-3 col-sm-auto col-auto  m-1 align-items-center dashboard_home">
           
              <div class="card-body">
                
                <h5 class="card-title">Number of Doctors</h5>
                
               <p>0</p>
              </div>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-auto col-auto  m-1 align-items-center  dashboard_home">
            <div class="card-body">
              <h5 class="card-title">Total Appointments</h5>
              
             <p>0</p>
            </div>
           </div>


           <div class="col-lg-3 col-md-3 col-sm-auto col-auto  m-1 align-items-center dashboard_home">
            <div class="card-body">
              <h5 class="card-title">Registered Patients</h5>
              
             <p>0</p>
            </div>
           </div>

         </div>

         <div class="row mt-5">
           <div class="col-md-8 col-12  ">
            <div class="card p-3 ">
              <canvas id="chart"></canvas>
            </div>
           </div>
           <div class="class-md-4 col-12"></div>
         
         </div>
         
         </div>
        </div>
      </div>
         {% endblock %}
        