{% extends 'header.html'%}
{% block content %}


<div class="container-fluid px-4">
  <div class="row g-3 my-2">


<div class="col-lg-12 dashboard my-3" id="dr-schedule">
  <h3 class="p-2 ">Schedule a doctor</h3>
 
   <div class="row content">
    <form action="/admin/scheduledoctor/" id="schedule-form" method="POST">
      {% csrf_token %}
        <div class="row p-2">
          
            <div class="col-sm-12 m-2">
                <div class="row">
              

              <div class="col-sm-6 ">
                
                <select name="doctorid" id="" class="form-select bg-light">
                    <option value="" selected>Select your doctor</option>
                    {% for i in doc %}
                    <option value="{{i.id}}" >{{i.fname}}</option>
                    
                    {% endfor %}
                </select>
               
                </div>
            </div>
            </div>
     
            <div class="col-sm-12 m-2">
            <label for="select Date" class="text-secondary">Select OP Days:</label>&nbsp
               <label for=""> monday</label>&nbsp<input type="checkbox" name="day" id="" value="monday">&nbsp&nbsp 
               <label for=""> tuesday</label>&nbsp<input type="checkbox" name="day" id="" value="tuesday">&nbsp&nbsp 
               <label for=""> wednesday</label>&nbsp<input type="checkbox" name="day" id="" value="wednesday">&nbsp&nbsp 
               <label for=""> thursday</label>&nbsp<input type="checkbox" name="day" id="" value="thursday">&nbsp&nbsp 
               <label for=""> friday</label>&nbsp<input type="checkbox" name="day" id="" value="friday">&nbsp&nbsp 
               <label for=""> saturday</label>&nbsp<input type="checkbox" name="day" id="" value="saturday">&nbsp&nbsp 
               <label for=""> sunday</label>&nbsp<input type="checkbox" name="day" id="" value="sunday">&nbsp&nbsp 
            </div>
            <div class="col-sm-12 m-2">
              <label  class="text-secondary">Starting Time:</label>
            </div>
           
                
            <div class="col-sm-12 m-2">
            
                <input type="time" name="start" placeholder="starting time " class="form-control">
            </div>
            <div class="col-sm-12 m-2">
              <label  class="text-secondary">Ending Time:</label>
            </div>
            <div class="col-sm-12 m-2">
            
                <input type="time" name="end" placeholder="ending time " class="form-control">
            </div>

            <div class="col-sm-12 m-2">
            
                <input type="number" name="perpatient" placeholder="op time per patient " class="form-control">
            </div>
            


          

       
           {{msg}}
            
            <div class="col-sm-4 offset-sm-4 p-2 text-center">
            <button type="submit" class="btn btn-secondary">Submit</button>
            <a href="" class="btn btn-secondary">Edit</a>
            </div>
          </form>
           </div>
            </div>
          </div>
        </div>
          

              {% endblock %}