{% extends 'header.html'%}
{% block content %}



<div class="container-fluid px-4">
  <div class="row g-3 my-2">

<div class="col-lg-10 dashboard my-3" id="doctor_id">
  <h3 class="p-2 ">Staff Registration</h3>
 
   <div class="row content">
    <form action="/admin/staffadd/" id="doctor-form" method="POST">
        {% csrf_token %}
        {% for i in staff %}
        <div class="row p-2">
            <div class="col-sm-12 mt-2">
                <input type="text"  name="staffid" class="form-control" value="{{i.id}}" hidden>
              </div>

            <div class="col-sm-6 mt-2">
                <input type="text" placeholder="staff_id" name="staffid" class="form-control" value="{{i.staffid}}">
              </div>
              <div class="col-sm-6">
                </div>
        
            
              <div class="col-sm-6 mt-2">
                <input type="text" name="fname" placeholder="First Name" class="form-control" value="{{i.fname}}">
              </div>
              <div class="col-sm-6 mt-2">
                <input type="text" name="lname" placeholder="Last Name" class="form-control" value="{{i.lname}}">
              </div>
            

            
              <div class="col-sm-6 mt-2"> 
                <input type="number" name="age" placeholder="Age" class="form-control" value="{{i.age}}">
              </div>
              <div class="col-sm-6 mt-2">
                <input type="number" name="mobile" placeholder="Mobile No" class="form-control" value="{{i.mobile}}">
              </div>

            <div class="col-sm-6 mt-2">
              <input type="text" name="place" placeholder="place" class="form-control" value="{{i.place}}">
            </div>
            <div class="col-sm-6 mt-2">
              <input type="text" name="email" placeholder="email" class="form-control" value="{{i.email}}">
            </div>
          
            </div>

            
            
            
            <div class="col-sm-12 mt-2">
            
                <input type="password" name="password" placeholder="Password" class="form-control" value="{{i.password}}">
            </div>


            <div class="col-sm-12 mt-2">
            
             
              <select id="" name="cat" class="form-select bg-light" >
                
                 
                 
                  <option value="{{i.staffcat.id}}" selected >{{i.staffcat.catogoryname}}</option>
                  {% for j in staffcat %}
                  <option value="{{j.id}}"  >{{j.catogoryname}}</option>
                  {% endfor %}
                
              </select>

            </div>

            <div class="col-sm-12 mt-2">
            
            <select name="dep" id="" class="form-select bg-light">
           
                
               
                <option value="{{i.department.id}}" selected >{{i.department.depname}}</option> 
                {% for k in dep %}
                <option value="{{k.id}}" >{{k.depname}}</option> 

                {% endfor %}
               
             
            </select>
            </div>
          
           

            <div class="col-sm-12 mt-2"><label for="">Join Date</label><input type="date" name="date" placeholder="Join Date" class="form-control jdate" value="{{i.joindate}}"></div>
            
            <div class="col-sm-12 mt-2"><input type="number" placeholder="Years of Experience" name="exp" class="form-control" value="{{i.experience}}"></div>
            <div class="col-sm-12 mt-2"><textarea name="address" id="" placeholder="Enter Address" cols="5" rows="2"  class="form-control" >{{i.address}}</textarea></div>
            
            <div class="col-sm-12 mt-2">{{msg}}</div>
            <div class="col-sm-4 offset-sm-4 p-2 text-center">
            <button type="submit" class="btn btn-secondary">Submit</button>
            <a href="" class="btn btn-secondary">Back</a>
            </div>
            {% endfor %}
          </form>
           </div>
            </div>
          </div>
        </div>
          

              {% endblock %}