{% extends 'home.html'%}
{% block content %}
{% load static %}
   <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
      
    <div class="row service-title">
        <h1>Pediatrics</h1>
    </div>
    <div class="row content">
        <div class="col-lg-4 col-md-4">
            <img src="{% static 'img/download (1).jpeg' %}" alt="" class="img-fluid dp-img">
        </div>
        <div class="col-lg-8 col-md-8 definition">Pediatrics is the branch of medicine dealing with the health and medical care of infants, children, and adolescents from birth up to the age of 18.</div>
    </div>
    <hr>
    <h1 class=text-center>Our Specialised Doctors</h1>
    <div class="row doct-details">
        
        <div class="col-lg-3 col-md-3">
            <img src="{% static 'img/images (5).jpeg' %}" alt="" class="img-fluid dp-img">
        </div>
        <div class="col-lg-6 col-md-6 card definition">
            <h3>Dr Prakash</h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quae culpa laboriosam, ratione sit unde dolorum esse provident rerum nulla odit tempora facere ducimus molestias rem temporibus error a. Commodi.</div>
        
            <div class="col-lg-2 mt-2">
              <div class="accordion accordion-flush " id="accordionFlushExample">
                <div class="accordion-item ">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Qualification
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      -MBBS <br>
                      -MD</div>
                  </div>
                </div>
                <div class="accordion-item ">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Experience
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> Dermatologist for 3 years.</div>
                  </div>
                </div>
              
              </div>
                  </div>   
        </div>
            
        <div class="row doct-details">
        <div class="col-lg-3 col-md-3">
            <img src="{% static 'img/images (4).jpeg'' %}" alt="" class="img-fluid dp-img">
        </div>
        <div class="col-lg-6 col-md-6 card definition">
            <h3>Dr Rajesh</h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quae culpa laboriosam, ratione sit unde dolorum esse provident rerum nulla odit tempora facere ducimus molestias rem temporibus error a. Commodi.</div>
            
                <div class="col-lg-2 mt-2">

                  <div class="accordion accordion-flush " id="accordionFlushExample">
                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                          Qualification
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          -MBBS <br>
                          -MD</div>
                      </div>
                    </div>
                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Experience
                        </button>
                      </h2>
                      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Dermatologist for 3 years.</div>
                      </div>
                    </div>
                  
                  </div>







                  <!--<div id="accordion">
                        <div class="card">
                          <div class="card-header buttonparent" id="heading1">
                            
                              <button class="btn buttonset" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                             Qualification
                              </button>
                          
                          </div>
                      
                          <div id="collapse1" class="collapse " aria-labelledby="heading1" data-parent="#accordion">
                            <div class="card-body">
                             -MBBS
                             -MD
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header buttonparent" id="heading2">
                            
                              <button class="btn buttonset collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                Experience
                              </button>
                            
                          </div>
                          <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                            <div class="card-body">
                                - Dermatologist for 3 years.
                            </div>
                          </div>
                        </div>
                      
                      </div>-->  
                      </div>
                     
                    </div>
                    
        
        
        <div class="row contact p-5" id="appointment" style="display:none">
        <div class="section-title">
            <h2>Get Appointment</h2>
                         
            </div>
             
                      <div class="col-lg-10 mt-5 mt-lg-0 " data-aos="fade-up" data-aos-delay="200">
                        <form action="forms/contact.php" id="appoint-form" method="post" role="form" class="php-email-form">
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="name">Select Department</label>
                             <select name="dep" id="" class="form-control setstyle">
                                <option value="">select your dep</option>
                               <option value="1">ENT</option>
                               <option value="2">Cardiology</option>
                               <option value="3">Nephrology</option>
                               <option value="4">Neorology</option>
                               <option value="5">Orthopedics</option>
                               <option value="6">Pediatrics</option>
                               <option value="7">Opthalmology</option>
                               <option value="8">Dermatology</option>
                               <option value="9">Emergency Medicine</option>
                             </select>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="name">Select Dr</label>
                             <select name="doc" id="" class="form-control setstyle">
                                <option value="">select your doctor</option>
                               <option value="1">DR Rajesh</option>
                               <option value="2">DR Fyiaz</option>
                               <option value="3">DR Rameesa</option>
                               <option value="4">DR Rekha</option>
                              
                             </select>
                            </div>
                            <div class="form-group col-md-6 mt-3 mt-md-0">
                              <label for="name">Firstname</label>
                              <input type="text" class="form-control" name="fname" placeholder="Your Firstname" >
                            </div>
                            <div class="form-group col-md-6 mt-3 mt-md-0">
                              <label for="name">Lastname</label>
                              <input type="text" class="form-control" name="lname"  placeholder="Your Lastname" >
                            </div>
                          
                          <div class="form-group col-md-6 mt-3 mt-md-0">
                            <label for="name">Mobile</label>
                            <input type="number" class="form-control" name="mobile" placeholder="Your Mobile no: ">
                          </div>
                          <div class="form-group col-md-6 mt-3 mt-md-0">
                            <label for="name">Date of Appointment</label>
                            <input type="date" class="form-control setstyle" name="date"  placeholder="select date" >
                          </div>
                        
                      
                          
                         
                          <div class="text-center"><button type="submit">Submit</button></div>
                        </form>
                      </div>
                     
                    </div>
                
           
   

      
  
  </section>
  
  {% endblock %}