{% extends 'recheader.html'%}
{% block content%}
<div class="container-fluid px-4">
    <form action="" method='POST'>
        {% csrf_token %}
    <div class="row g-3 my-2">
        <div class="col-lg-1"></div>
        
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <select name="doc" id="doctor" class="form-control">
                        <option value="" selected>select doctor</option>
                        {% for i in doc %}
                        <option value="{{i.id}}" >{{i.fname}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="col-lg-6">
                        <select name="doc" id="doctor" class="form-control">
                            <option value="" selected>select day</option>
                            {% for i in doc %}
                            <option value="{{i.id}}" >{{i.fname}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    
                
            </div>
            <div class="text-center mt-3"><button type="submit" class="btn  doctform ">View Appointments</button></div>
            <div class="text-center mt-3">{{msg}}</div>
            
            
        </div>
    
        <div class="col-lg-1"></div>
        
            </div>
        </form>
            </div>
            {% endblock %}